body{
    background-color: #EAF6F6;
}

h1,h3{
    color: #66BFBF;
}
hr{
    border-color: grey;
    height: 2px;
    width: 40px;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
}